.backgroundBodyColor{
    background: #F9F9F9;
    height: 100vh;
}
.mainBox{
    background-color: #EEEEEE;
    width: 976px;
    height: 700px;
    border: 10px solid #00B9FF;
    position: relative;
    top: 50px;

    /*This is the color for main box and height along with width*/
}
.secondBox{
    background-color: #EEEEEE;
    width: 728px;
    height: 700px;
    border: 10px solid #00B9FF;
    position: relative;
    top: -670px;
    left: 1100px;
    /*css for the second box(console and news)*/
}
.navMenu{
    background-color: #534B4B;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.playBar{

}
.playBar{
    background-color: #EEEEEE;
    font-size: 50px;
    text-align: center;
    font-family: 'Cairo', sans-serif;
    background: #383838;
    width: 400px;
    height: 70px;
    font-size: 40px;
    position: relative;
    left: 285px;
    top:110px;
    color: #ffffff;
    border: 3px solid #000000;
    display: block;
}
.playBar:hover{
    background: #ffffff;
    color: #383838;
}
.clickBorder{
    border: 6px solid #ffc663;
}
.mainBox2{
    background-color: #EEEEEE;
    width: 976px;
    height: 700px;
    border: 10px solid #00B9FF;
    position: relative;
    top: -1390px;

    /*copy of main box*/
}
.screen{
    display: none;
}
.returnBar{
    background-color: #EEEEEE;
    font-size: 50px;
    text-align: center;
    font-family: 'Cairo', sans-serif;
    background: #383838;
    width: 400px;
    height: 70px;
    font-size: 40px;
    position: relative;
    left: 285px;
    color: #ffffff;
    border: 3px solid #000000;
    display: block;
}
.returnBar:hover{
    background: #ffffff;
    color: #383838;
}
.sell{
    background: #383838;
    width: 400px;
    height: 150px;
    font-size: 80px;
    font-family: 'Cairo', sans-serif;
    text-align: center;
    position: relative;
    left: 25px;
    top: 50px;
    border: 3px solid #000000;
    color: #ff4f0f;
}
.buy{
    background: #383838;
    width: 400px;
    height: 150px;
    font-size: 80px;
    font-family: 'Cairo', sans-serif;
    text-align: center;
    position: relative;
    left: 545px;
    top: -105px;
    border: 3px solid #000000;
    color: #005eff;
}
.sell:hover{
    background: #ffffff;
    color: #383838;
}
.buy:hover{
    background: #ffffff;
    color: #383838;
}
.mainBox3{
    background-color: #EEEEEE;
    width: 976px;
    height: 700px;
    border: 10px solid #00B9FF;
    position: relative;
    top: -2110px;
}
.moroccanLakeButton{
	background: #383838;
	width: 300px;
	height: 100px;
	border-radius: 5px;
	border: 5px solid #000000;
	position: relative;
	left: 25px;
	top: 25px;
	color: #ffffff;
	text-align: center;
	font-size: 25px;
	font-family: 'Cairo', sans-serif;
}
.moroccanLakeButton:hover{
	background: #ffffff;
    color: #383838;
	font-family: 'Cairo', sans-serif;
}
.moroccanLakeName{
	text-align: center;
	font-family: 'Cairo', sans-serif;
}
.submitButton{
	background: #383838;
	width: 200px;
	height: 29px;
	border-radius: 5px;
	border: 5px solid #000000;
	position: relative;
	left: 25px;
	top: 25px;
	color: #ffffff;
	text-align: center;
	font-size: 19px;
	font-family: 'Cairo', sans-serif;
	display: block;
}
.submitButton:hover{
	background: #ffffff;
	color: #383838;
}
.rodName{
	font-size: 19px;
	font-family: 'Cairo', sans-serif;
}












